         
div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
  .sidebar-module.sidebar-module-inset
    h4 About

    p This is a demo blog to show how pagination is implemented using Express and Bookshelf.
